<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display CRUD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<body>
    Display CRUD from view
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].email %>
                    </td>
                    <td>
                        <%= data[i].firstName %>
                    </td>
                    <td>
                        <%= data[i].lastName %>
                    </td>
                    <td>
                        <%= data[i].address %>
                    </td>
                    <td>
                        <a href="/edit-crud?id=<%=data[i].id%>" class="btn btn-edit text-bg-warning rounded-3">Edit</a>
                        <a href="/delete-crud?id=<%=data[i].id%>"
                            class="btn btn-delete text-bg-danger rounded-3">Delete</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>